/* App.css */

@keyframes fluidGradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 70% 50%;
  }
  50% {
    background-position: 30% 50%;
  }
  75% {
    background-position: 90% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-fluid {
  background: linear-gradient(60deg, #000127, #9312e2, #081986);
  background-size: 400% 400%;
  animation: fluidGradient 20s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}


